{% extends 'layout.html' %}

{% block body %}
<br /> <br />
  <h1>About Us</h1>
  <br /> <br /> <br /> <br />
  <body>We are a group of <a href="https://www.centralesupelec.fr/" class="CentraleSupelec">CentraleSupelec</a> students dedicated to bring you the best Blind Test experience.</p>
  </body>
  <style type="text/css"> 
  body
{
  margin: 10px 0 ;
  padding: 0 ;
  color : aliceblue ;
  text-align: center ;
  background: url("../../static/img/Musical-instrument-saxophone.jpg") no-repeat left top ;
}
a.CentraleSupelec {
color : white;
}
</style> 
{% endblock %}